.bottom {
   position: absolute;
    float: left;
    bottom: 0px;
    width: 106px;
    margin: 0px;
    top: 0px;
    right: 0px;
    padding: 8px 5px 8px 5px;
    color: rgb(100,100,125);
    border: 2px groove;
    border-radius: 5px;
    background: linear-gradient(to right, #00000094 0%, #b5b0b094 15%, #00000094 92%, black);
}
.button{
    clear: none;
    margin: 3px 0px;
    position: relative;
    padding: 0px;
    float: left;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    line-height: 23px;
    width: 102px;
    opacity: 0.5;
    color: rgb(100,100,125);
    border: 2px groove;
    border-radius: 5px;
    background: linear-gradient(to Bottom, #00000094 0%, #b5b0b094 15%, #00000094 92%, black);
    box-shadow: black 2px 2px 5px 1px;
}
.button>a{
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(32, 32, 41);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.button>a:hover{
    background-color: rgba(225,225,180,0.7);
}
.source{
    float: right;
    position: absolute;
    bottom: 8px;
}
.themes{
   position: relative;
    float: left;
    color: #000000;
    font-family: sans-serif;
    width: 92px;
   /* opacity: 0.5;*/
    border: 2px groove;
    border-radius: 5px;
    background: rgba(1,1,1,0.5);
    box-shadow: #00000091 2px 2px 5px 1px;
    padding: 5px 5px 10px 5px
}
.themestitle{
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
   color:rgb(140 140 159);
}
.coltheme{
       color: rgb(100,100,125);
    width: 35px;
    float: left;
    height: 35px;
    position: relative;
    white-space: nowrap;
    border: 2px groove;
    margin: 3px;
    clear: none;
    border-radius: 5px;
    box-shadow: black 2px 2px 5px 1px;
}
