._mainBox_containerExtern_Numeric_Color{
	position: relative;
    float: left;
    margin: 0px;
	padding:0px;
    clear: right;
	width:auto;
	height:auto;
	overflow:visible;
}
._spinDown_ArrowInside_Numeric_Color,
._spinUp_ArrowInside_Numeric_Color{
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: 0px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
}
._spinDown_ArrowInside_Numeric_Color{
    border: 5px solid transparent;
    border-top-color: #252525;
    top: -7px;
}
._spinUp_ArrowInside_Numeric_Color{
    border: 5px solid transparent;
    border-bottom-color: #252525;
    top: -4px;
}

._compact_NumericSpin ._spinDown_ArrowInside_Numeric_Color{
    border: 4px solid transparent;
    border-top-color: #252525;
    margin-left: -3px;
	top: -6px;
}
._compact_NumericSpin ._spinUp_ArrowInside_Numeric_Color{
    border: 4px solid transparent;
    border-bottom-color: #252525;
    margin-left: -3px;
}



._disabled_Spin_Numeric_Color ._spinDown_ArrowInside_Numeric_Color{
     border-top-color: rgba(0,0,0,0.35);
}
._disabled_Spin_Numeric_Color ._spinUp_ArrowInside_Numeric_Color{
     border-bottom-color: rgba(0,0,0,0.35);
}
._spinDown_Arrow_Numeric_Color{
    top: 2px;
	border: 8px solid transparent;
    border-top-color: #999999;
}
._spinUp_Arrow_Numeric_Color{
    top: -5px;
	border: 8px solid transparent;
    border-bottom-color: #999999;
}


._compact_NumericSpin ._spinDown_Arrow_Numeric_Color{
    top: 2px;
	border: 6px solid transparent;
    border-top-color: #999999;
	margin-left: -7px;
}
._compact_NumericSpin ._spinUp_Arrow_Numeric_Color{
    top: -4px;
	border: 6px solid transparent;
    border-bottom-color: #999999;
	margin-left: -7px;
}

._spinDown_Arrow_Numeric_Color,
._spinUp_Arrow_Numeric_Color{
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: 0px;
    position: absolute;
    left: 50%;
    margin-left: -9px;
}
._spinUp_Numeric_Color,
._spinDown_Numeric_Color{
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 50%;
    right: 0px;
    cursor: pointer;
}
._spinUp_Numeric_Color{
    border: 0px solid;
    top: 0px;
    border-bottom: 1px solid #999999;
    margin-top: -1px;
}
._spinDown_Numeric_Color{
    border: 0px solid;
    border-top: 1px solid #999999;
    top: 50%;
    margin-top: 0px;
}
._spinDown_Numeric_Color:hover,
._spinUp_Numeric_Color:hover{
    background: rgba(225,225,0,0.2);
}

._spinDown_Numeric_Color,
._spinUp_Numeric_Color{
    background: transparent;
}
._disabled_Spin_Numeric_Color._spinDown_Numeric_Color,
._disabled_Spin_Numeric_Color._spinUp_Numeric_Color{
    background: rgba(125,125,125,0.35);
	cursor:default;
}
._disabled_Spin_Numeric_Color._spinDown_Numeric_Color:hover,
._disabled_Spin_Numeric_Color._spinUp_Numeric_Color:hover{
    background: rgba(125,125,125,0.35);
	cursor:default;
}

._spin_Numeric_Color{
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 25px;
    z-index: 1;
    top: 0px;
    right: 0px;
    background: transparent;
    border-left: 1px solid #999999;
    box-shadow: #777777 -5px 0px 6px -2px;
	overflow: hidden;
}

._compact_NumericSpin ._spin_Numeric_Color{
    top: 2px;
}

._inputTxt_Numeric_Color{
    height: 20px;
    width: 50px;
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    font-size: 20px;
    font-family: monospace;
    padding-right: 26px;
    text-align: center;
    border: 0px solid;
    overflow: hidden;
    background: transparent;
    text-shadow: rgba(225,225,225,0.32) 0px 1px;
    color: black;
	color: rgb(33,33,33);
	position: relative;
	font-weight: bold;
	outline: 0px solid;
	    letter-spacing: 0.5px;
}
._compact_NumericSpin ._inputTxt_Numeric_Color{
    height: 15px;
    line-height: 18px;
    font-size: 16px;
}
._mainBox_Numeric_Color{
    border: 2px groove #999999;
    overflow: hidden;
    border-style: double;
    box-shadow: black 0px 0px 3px 1px;
    background: linear-gradient(to left, rgba(80,80,80,0.25),rgba(225,225,225,0.25) 30px);
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}
._mainBox_container_Numeric_Color{
    margin: 3px;
    padding: 0px;
    height: 26px;
    width: 76px;
    text-align: center;
    border: 0px solid;
    overflow: visible;
    background: transparent;
   /* position: absolute;*/
    position: relative;
	top: 0px;
    left: 0px;
}
._compact_NumericSpin ._mainBox_container_Numeric_Color{
    height: 18px;
}
._clonedText_Numeric_Color{
    margin: 0px;
    padding: 0px;
    height: 20px;
    width: 50px;
    line-height: 20px;
    font-size: 20px;
    font-family: monospace;
	font-weight: bold;
    /*padding-right: 26px;*/
    text-align: center;
    border: 0px solid;
    overflow: hidden;
    background: transparent;
    position: absolute;
    color: rgba(255,255,255,0.5);
    top: 2px;
    left: 1px;
    padding-top: 1px;
}
._compact_NumericSpin ._clonedText_Numeric_Color{
    height: 15px;
    line-height: 18px;
    font-size: 16px;
}

._inputTxt_OverNumeric_Color{
	position:absolute;
	top:0px;
	left:0px;
	width:0px;
	overflow:hidden;
	height:auto;
	bottom:0px;
    line-height: 18px;
    font-size: 16px;
    font-family: monospace;
	z-index:99999;
	opacity:0;
	outline: 0px solid;
	    letter-spacing: 0.5px;    
		line-height: 15px;
    font-size: 16px;
	border: 1px solid rgba(29, 29, 29, 0.55);
	    text-align: center;
    color: black;
	color: rgb(33,33,33);
 /*   background: rgb(225,225,225);*/
	/* troppo? */ 
	/*
	background: linear-gradient(to top, rgb(215, 215, 215) 0%, rgb(235, 235, 235) 12%, rgb(215, 215, 215) 30%,rgb(205, 205, 205) 90%,rgb(185, 185, 185) 100%);
	*/
	/* troppo? */
    /*background: rgb(205,205,205);*/ /*gestito da codice!!!*/
}
._inputTxt_OverNumeric_Color._inputTxt_inEdit_Color{
	opacity:1;
	width:100%;
}
.stop-scrolling_for_Color {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overscroll-behavior-y: contain;
}