
		._rectFront_RectangleSV_H_Color,
		._rectOver_RectangleSV_H_Color,
		._rectBack_RectangleSV_H_Color{
			width:auto;
			height:auto;
			top:0px;
			left:0px;
			bottom:30px;
			right:-1px;
			position:absolute;
			padding: 0px;  
			margin: 0px; 
			background: transparent;
			background-color: transparent;
		}
		._rectBack_RectangleSV_H_Color{
			z-index:1;
			box-shadow: rgba(0,0,0,0.65) 0px 0px 5px 1.2px;
			    outline: 1px rgba(138,138,138,0.65) groove;
		}
		._rectFront_RectangleSV_H_Color{
			background:linear-gradient(to top, rgb(0,0,0) 0%, transparent 100%);
			z-index:2;
		}
		._rectOver_RectangleSV_H_Color{
			z-index:5;
			cursor:crosshair;
		}
		._slider_RectangleSV_H_Color{
			width:100%;
			height:20px;
			position:relative;
			float:left;
			width: 100%;
			min-width: 120px; 
			left: 0px;
			height: 20px;
			border-radius: 3px; 
			border: 1px groove #777777;
			box-shadow: rgba(0,0,0,0.65) 0px 0px 5px 1.2px;
			background:linear-gradient(to right, rgba(255,0,0,1.0), rgba(255,255,0,1.0),rgba(0,255,0,1.0),rgba(0,255,255,1.0),rgba(0,0,255,1.0),rgba(255,0,255,1.0), rgba(255,0,0,1.0));
			overflow: hidden;
		}
		._slider_RectangleSV_H_Color>div>div{
			background: linear-gradient(#464646,#464646);
			background-repeat: no-repeat;
			background-position: 0px 9px;
			background-size: 100% 11px;
		}
		._slider_RectangleSV_H_Color ._valSpan_Slider_Color{
			left: 66.2975%;
			border-radius: 0px;
			border-top-width: 10px;
			border-bottom-width: 10px;
			border-left-width: 10px;
			border-color: transparent transparent transparent #090909;
			width: 0px;
			height: 0px;
			border-right-width: initial;
			border-right-style: initial;
			box-shadow: none;
			transform: rotate(-90deg);
			margin: -11px -5px -3px;
			background:transparent;
		}
		._rectBox_RectangleSV_H_Color ._box_Slider_Color{
			height: 20px;
			border-radius: 5px; 
		}
		._rectBox_RectangleSV_H_Color{
			position:relative;
			float:left;
			width:100%; 
			margin: 0px 0px 5px 0px; 
			padding: 0px;
		}
		
		._boxMain_RectangleSV_H_Color{
		    height: auto;
			width: 100%;
			top: 0px;
			display: block;
			position: relative;
			float: left;
			margin: 0px;
			padding: 0px;
			overflow: visible;
		}
		._boxMainInside_RectangleSV_H_Color{
			width: auto;
			top: 0px;
			display: block;
			position: absolute;
			float: left;
			margin: 0px;
			padding: 8px 5px 0px 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			overflow: visible;
		}
		
		._pointer_RectangleSV_H_Color{
			background-color: transparent;
			border: 1px solid #ffffff;
			box-shadow: rgba(0,0,0,0.5) 0px 0px 1px 2.2px;
			border-style: ridge;
			position: absolute;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			top: 0%;
			left: 100%;
			margin: -5px;
			z-index: 3;
		}
.stop-scrolling_for_Color {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overscroll-behavior-y: contain;
}