._OverContaineBox_Palette_Color,
._ContaineBox_Palette_Color{
			height: auto;
			width: 100%;
			position:relative;
			float:left;
			padding: 0px;  
			clear: none;
			white-space: normal;
			margin: 0px; 
			/*margin-left:10px;*/
}
._OverContaineBox_Palette_Color{
	overflow:hidden;
}
._ContaineBox_Palette_Color{
	overflow:auto;
}
._ctrlMainBox_Palette_Color{
	height: auto;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	right: 0px;
	margin: 0px;
	clear: none;
	white-space: nowrap;
	padding: 0px;
}
._ctrlContaineMainBox_Palette_Color,
._ctrlSpaceBox_Palette_Color{
	height: auto;
	width: 100%;
	position: relative;
	float: left;
	margin: 0px;
	clear: none;
	white-space: nowrap;
	padding: 0px;
	display: block;
}
._ctrlMain_Palette_Color{
	height: auto;
	width: 100%;
	position: relative;
	float: left;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	clear: none;
	white-space: nowrap;
	/*padding-right: 5px;*/
	position: absolute;
	top: 0px;
	left: 0px;
	/*width: auto;*/
	right: 3px;
	height: auto;
	overflow: hidden;
	padding-bottom: 8px;
}
._selected_ColorIndicator_Color ._ctrlMain_Palette_Color{
	right: 22px;
}

._box_Palette_Color{
	height: auto;
	width: 100%;
	position: relative;
	float:left;
	padding: 0px;
	/*padding-top: 3px;*/
	padding-top: 2px;
	overflow: visible;    
	clear: none;
	white-space: nowrap;
	display: inline-flex;
	/*display: inline-block;
	display: flex;*/
}

._button_Palette_Color{
	height: auto;
	width: auto;
	border-radius: 0px;
	border: 0px solid;
	display: inline-block;
}

._ctrlMainBox_Palette_Color ._ctrlMain_ColorIndicator_Color{
	cursor:pointer;
}




._ctrlMainBox_Palette_Color ._ctrlMain_ColorIndicator_Color{
	border-radius: 4px;
}
._ctrlMainBox_Palette_Color ._ctrlMainBox_ColorIndicator_Color{
	border-radius: 5px;
}

.PaletteColorIndicator{
	width: auto;
    height: auto;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    padding: 0px;
    margin: 0px;
}

._selected_ColorIndicator_Color .PaletteColorIndicator{
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
}    
._selected_ColorIndicator_Color .PaletteColorIndicator ._ColorOpaque_ColorIndicator_Color{
	bottom: -27px;
    left: -27px;
}    
/*
._ContaineBox_Palette_Color._scrollBox_Palette_Color{
	padding-right: 16px;
}*/
.stop-scrolling_for_Color {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overscroll-behavior-y: contain;
}