 
		._mainbox_container_Cube_Color{
			height: 220px;
			width: 220px;
			padding: 0px;
			margin: 0px; 
			overflow: hidden;
			top: 0px;
			left: 0px;   
			/*position: absolute;     */
			position: relative;
			float: left;
		}
		._mainbox_Cube_Color{
			perspective: 500px;
			/*-ms-perspective: 3000px;
			-ms-perspective-origin: 2500px 500px;*/
			transform-style: preserve-3d;
			transform-origin: center;
			height: 200px;
			width: 200px;
			padding: 0px;
			margin: 0px;    
			top: 0px;
			left: 0px;
			align-items: center;
			background-color: transparent;
			align-content: center;
			text-align: center;   
			position: absolute;
			border: 0px solid;
			border-radius: 0px;
			z-index: 5;
			overflow: visible;
			padding-left: 28px;
			padding-top: 18px;	
		}
		.__mainbox_rot_Cube_Color{
			transform: rotateY(66deg) rotateX(-14deg) rotateZ(-26deg);
			transform-style: preserve-3d;
			-ms-transform: translate3d(15px, 20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);/*ie fix*/
			background-color: transparent; 
			padding: 0px;
			margin: 0px; 
			width: 100%;
			height: 100%;
		}
		.__scene_Cube_Color{
			padding: 0px;
			margin: 0px; 
			transform-style: preserve-3d;
			background-color: transparent; 
			width: 100%;
			height: 100%;
		}
		.__cube_Color{   
			padding: 0px;
			margin: 0px; 
			width: 100%;
			height: 100%;
			position: relative;
			-ms-perspective: 500px;/*ie fix*/
			-ms-zoom:1.2;/*ie fix*/
			/*left: 10px;
			top: 60px;*/
			transform-style: preserve-3d;
			background-color: transparent;
			color: transparent;
		}
		
		.__cubeFace_Color{
			padding: 0px;
			margin: 0px; 
			position: absolute;
			width: 50%;
			align-items: center;
			border: 1px solid rgba(55,55,55,0.6);
			line-height: 125px;
			text-align: center;
			height: 50%;
			background-color: rgba(25,25,25,0.1);
			vertical-align: middle;
		}
		
		/*trasloZ pari al 25%*/
		.__cubeFace_Color_front{
		    transform: rotateY( 0deg) translateZ(50px);
			-ms-transform: rotateY(66deg) rotateX(-14deg) rotateZ(-26deg) rotateY( 0deg) translateZ(50px);/*ie fix*/
			z-index:1;/*ie fix*/
		}
		.__cubeFace_Color_back{
		    transform: rotateY(180deg) translateZ(50px);
			-ms-transform: rotateY(66deg) rotateX(-14deg) rotateZ(-26deg) rotateY(180deg) translateZ(50px);/*ie fix*/
		}
		.__cubeFace_Color_bottom{
		    /*opacity: 0.75;*/
			transform: rotateX(-90deg) translateZ(50px);
			-ms-transform: rotateY(66deg) rotateX(-14deg) rotateZ(-26deg) rotateX(-90deg) translateZ(50px);/*ie fix*/
			/*background: linear-gradient(to right, #ff0000, #ffff00,#00ff00,#00ffff,#0000ff,#ff00ff,#ff0000);*/
			background: linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,255,0,0.5),rgba(0,255,0,0.5),rgba(0,255,255,0.5),rgba(0,0,255,0.5),rgba(255,0,255,0.5), rgba(255,0,0,0.5));
		}
		.__cubeFace_Color_top{
		    transform: rotateX( 90deg) translateZ(50px);
			-ms-transform: rotateY(66deg) rotateX(-14deg) rotateZ(-26deg) rotateX( 90deg) translateZ(50px);/*ie fix*/
			z-index:1;/*ie fix*/
		}
		.__cubeFace_Color_right{
		    transform: rotateY( 90deg) translateZ(50px);
			-ms-transform: rotateY(66deg) rotateX(-14deg) rotateZ(-26deg) rotateY( 90deg) translateZ(50px);/*ie fix*/
		}
		.__cubeFace_Color_left{
			transform: rotateY(-90deg) translateZ(50px);
			-ms-transform: rotateY(66deg) rotateX(-14deg) rotateZ(-26deg) rotateY(-90deg) translateZ(50px);/*ie fix*/
			z-index:1;/*ie fix*/
		}
		.__grad_Cube_Color{
			padding: 0px;
			margin: 0px; 
		    background: linear-gradient(to top, #000000 0%,rgba(0,0,0,0) 100%);
			width: 100%;
			height: 100%;
			padding: 0px;
			margin: 0px; 
		}
		.__cubeFace_Color_Selector{
			transform: rotateY(-90deg) translateZ(-50px);
			-ms-transform: rotateY(66deg) rotateX(-14deg) rotateZ(-26deg) rotateY(-90deg) translateZ(-50px);/*ie fix*/
			background-color: red;
			background: linear-gradient(to right, #ffffff 0%,#ff0000 100%);
		}
		.__pointer_3d_Cube_Color{
			padding: 0px;
			position: absolute;
			height: 4px;
			width: 4px;
			background-color: transparent;
			border: 2px solid #ffffff;
			border-radius: 50%;
			top: 0%;
			left: 100%;
			margin: -4px;
			border-style: ridge;
			box-shadow: #000 0px 0px 5px 1.2px;
		}
		
		._val1_Slider_Cube_Color,
		._val2_Slider_Cube_Color,
		._val3_Slider_Cube_Color,
		._val4_Slider_Cube_Color{
			padding: 0px;
			margin: 0px; 
			position:absolute;
			width: 1px;
			height: 1px;
			display:block;
			top:4px;
			z-index:99;
			bottom:auto;
			background-color:transparent;
			border:0px solid;
		}
		._val1_Slider_Cube_Color,
		._val2_Slider_Cube_Color{
			bottom:auto;
			top:0px;
		}
		._val3_Slider_Cube_Color,
		._val4_Slider_Cube_Color{
			top:auto;
			bottom:0px;
		}
		._val1_Slider_Cube_Color,
		._val3_Slider_Cube_Color
		{
			left:0px;
			right:auto;
		}
		._val2_Slider_Cube_Color,
		._val4_Slider_Cube_Color
		{
			right:0px;
			left:auto;
		}
		
		.__cube_Color ._mainbox_Slider_Color{ 
			top: -30px;
		}
	.__overMove_3d_Cube_Color{    
		position: absolute;
		opacity: 0.5;
		top: -13.5%;
		left: -13.5%;
		width: 100%;
		height: 100%;
		padding: 0px;
		margin: 0px;
		background-color: transparent;
		z-index: 50;
		transform: rotate(38deg);
		border-radius: 30%;
		-ms-transform: rotate(47deg) translate(3%, -10%) scale(1, 1.2);
	}
.stop-scrolling_for_Color {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overscroll-behavior-y: contain;
}